<ion-item lines="full">
	<ion-row style="align-items: center">
		<ion-col size="1" style="min-width: 70px; max-width: 70px">
			<ion-avatar>
				<img
					alt="Silhouette of a person's head"
					class="image"
					src="https://upload.wikimedia.org/wikipedia/commons/4/47/PNG_transparency_demonstration_1.png"
				/> </ion-avatar
		></ion-col>
		<ion-col size="10">
			<div>
				<b>
					This is some piece of long textThis is some piece of long textThis is
					somevlu uygsulgsoyug soyu yasug p8dysg dpy8agdp vdsodusv py8ds
					vdpyuvds ;udsvdpyus vdpyu</b
				>
			</div>
		</ion-col>
		<ion-col size="1" style="min-width: 50px"> Wednesday </ion-col>
	</ion-row>
</ion-item>
